/*--Tandel Prachi Raghunath 2023EBCS178-->*/
body {
    font-family: Arial, sans-serif;
    background-color: #FFF2D7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.id-card {
    display: flex;
    justify-content: center;
    width: 640px;
    padding: 20px;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #F98866;
    margin: 0 auto;
    text-align: center;
}
.id-card .front {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    border-right: 2px solid #000;
    padding: 10px;
}
.id-card .front img {
    width: 50%;
    height: auto;
}
.id-card .back h3 {
    width: 100%;
    height: auto;
}
.id-card .details {
    margin-top: 10px;
}
.id-card .details p {
    margin: 5px 0;
}

.id-card .header p {
    margin: 5px 0;
}
.id-card .back {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}
.id-card .logo img {
    width: 75px;  /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
}

